{% extends "profiles/base.html" %}
{% block head %}
{% include "geonode/ext_header.html" %}
{% include "geonode/app_header.html" %}
{{ block.super }}
{% endblock %}
{% load i18n avatar_tags relationship_tags %}
{% block content %}
<div class="threecol">
  <div style="float: right">{% avatar profile.user 70 %}</div>
  <h2>{{ profile.name }}</h2>
  {% if user == profile.user %}
  <h3>{% trans "Actions" %}</h3>
  <ul>
    <li><a href="{% url data_upload %}">{% trans "Upload new data" %}</a></li>
    <li><a href="{% url map_new %}">{% trans "Create a new map" %}</a></li>
  </ul>
  <h3>{% trans "Settings" %}</h3>
  <ul>
    <li><a href="{% url profiles_edit_profile %}">{% trans "Edit profile information" %}</a></li>
  </ul>
  <h3>{% trans "Manage Connections" %}</h3>
  <ul>
      <li><a href="{% url relationship_list user "following" %}">{% trans "Following" %}</a></li>
      <li><a href="{% url relationship_list user "blocking" %}">{% trans "Blocking" %}</a></li>
  </ul>

  {% else %}
  <div id="following_toggle">
  </div>
  <div id="block_toggle">
  </div>
  {% endif %}
  <h3>Following</h3>
  {% for u in profile.user.relationships.following %}
      {% avatar u 65 %}
  {% endfor %}
  <h3>Followers</h3>
  {% for u in profile.user.relationships.followers %}
      {% avatar u 65 %}
  {% endfor %}
</div>
{% endblock %}
{% block sidebar %}
<div class="twocol">
    <h2> {% trans "Maps & Data" %} </h2>
    <div id="assets"></div>
</div>
<script type="text/javascript">
Ext.onReady(function() {
    var mapsAndLayers = [];
    {% for lyr in profile.user.layer_set.all %}
    mapsAndLayers.push(["lyr.{{ lyr.pk|escapejs }}", "{{ lyr.pk|escapejs }}", "layer", "{{ lyr.get_absolute_url|escapejs }}", "{{ lyr.title|escapejs }}", "{{ lyr.date|escapejs }}"]);
    {% endfor %}
    {% for map in profile.user.map_set.all %}
    mapsAndLayers.push(["map.{{ map.pk|escapejs }}", "{{ map.pk|escapejs }}", "map", "{{ map.get_absolute_url|escapejs }}", "{{ map.title|escapejs }}", "{{ map.last_modified|escapejs }}"]);
    {% endfor %}

    var assets = new Ext.data.Store({
        reader: new Ext.data.ArrayReader({
            idIndex: 0,
            fields: ["pk", "id", "type", "href", "title", "date"]
        }),
        data: mapsAndLayers
    });

    var cb = new Ext.grid.CheckboxSelectionModel();
    var columns = [
       { header: gettext('Type'), tpl: "<div class='data-type {type}'>&nbsp;</div>", width: 10 },
       { header: gettext('Title'), dataIndex: 'title', autoExpand: true, tpl: "<a href='{href}'> {title} </a>" },
       { header: gettext('Date'), dataIndex: 'date', width: 30, xtype: 'datecolumn' }
    ]

    {% if user == profile.user %}
        columns.unshift(cb);
        columns.push({
            tpl: "<span class='data-edit'>&nbsp;</span><span class='data-delete'>&nbsp;</span>",
            width: 15
        });
    {% endif %} 

    var assetView = new Ext.grid.GridPanel({
        store: assets,
        autoHeight: true,
        border: false,
        viewConfig: {
            forceFit: true
        },
        hideCollapseTool: true,
        header: false,
        sm: cb,
        colModel: new Ext.grid.ColumnModel({
            defaults: { xtype: 'templatecolumn' },
            columns: columns
        }),
        listeners: {
            render: function(grid)  {
                function doToRecord(act) {
                    return function(evt, target) {
                        var elem = evt.getTarget('.x-grid3-row');
                        if (elem) {
                            var idx = elem.rowIndex;
                            var rec = grid.getStore().getAt(idx);
                            act(rec);
                        }
                    }
                }
                var view = doToRecord(function(rec) {
                    window.location = rec.get("href");
                });
                var edit = doToRecord(function(rec) {
                    var link = rec.get("href");
                    if (rec.get("type") === "map") {
                        link += "/view";
                    } else {
                        link += "?describe";
                    }
                    window.location = link;
                });
                var delete_ = doToRecord(function(rec) {
                    var link = rec.get("href") + "?remove";
                    window.location = link;
                });
                grid.getEl().on("click", view, this, { delegate: 'a' });
                grid.getEl().on("click", edit, this, { delegate: '.data-edit' });
                grid.getEl().on("click", delete_, this, { delegate: '.data-delete' });
            }
        }
    });

    function serialize() {
        var list = { layers: [], maps: [] };
        var selection = assetView.getSelectionModel().getSelections();

        for (var i = 0; i < selection.length; i++) {
            var rec = selection[i],
                type = rec.get("type"),
                id = rec.get("id");

            if (type === "layer") {
                list.layers.push(id);
            } else if (type === "map") {
                list.maps.push(id);
            }
        };
        
        return list;
    }

    {% if user == profile.user %}
    var tools = {
        layout: 'hbox',
        unstyled: true,
        items: [
            { xtype: 'button',
              text: gettext("Remove selected"),
              iconCls: 'icon-delete',
              handler: function() {
                  Ext.Msg.confirm(
                      gettext("Delete layers"),
                      gettext("You're about to delete multiple layers and maps.  Is that really what you want to do?"),
                      function(btn) {
                          if (btn == 'yes') {
                              var spec = serialize();
                              Ext.Ajax.request({
                                  url: '/data/api/batch_delete',
                                  method: 'post',
                                  jsonData: spec,
                                  success: function() {
                                      assetView.getStore().remove(assetView.getSelectionModel().getSelections());
                                  }
                              });
                          }
                      }
                  );
              }
            },
            { xtype: 'button',
              text: gettext("Change permissions on selected"),
              iconCls: 'icon-security',
              handler: function() {
                  var activeList = serialize();
                  var editor = new GeoNode.PermissionsEditor({
                      userLookup: "{% url geonode.views.ajax_lookup %}",
                      permissions: { users:[] }
                  });
                  editor.container.padding = 5;
                  var saveButton = new Ext.Button({
                      xtype: 'button',
                      text: gettext("Apply changes"),
                      handler: function() {
                          var spec = serialize();
                          spec.permissions = editor.writePermissions();
                          Ext.Ajax.request({
                              url: '/data/api/batch_permissions',
                              method: 'post',
                              jsonData: spec
                          });
                      }
                  });
                  var win = new Ext.Window({
                      title: gettext("Permissions"),
                      modal: true,
                      items: [ editor.container, {
                          padding: 5,
                          border: false,
                          items: [ saveButton ]
                      }]
                  });
                  win.show();
              }
            }
        ]
    }

    new Ext.Panel({
        border: false,
        renderTo: 'assets',
        items: [tools, assetView]
    });
    {% else %}
    new Ext.Panel({
        border: false,
        renderTo: 'assets',
        items: [assetView]
    });
    
    // User following/blocking handling logic.
    var blocking_div = Ext.get("block_toggle"),

        block_remove_url = "{{ profile.user|remove_relationship_url:"blocking"}}",
        block_remove_text = "Unblock",
        block_add_url = "{{ profile.user|add_relationship_url:"blocking"}}",
        block_add_text = "Block",
        {% if_relationship profile.user user "blocking" %}
            block_url = block_remove_url,
            block_text = block_remove_text,
        {% else %}
            block_url = block_add_url,
            block_text = block_add_text,
        {% endif_relationship %}
        
        following_div = Ext.get("following_toggle"),
        follow_add_url = "{{ profile.user|add_relationship_url:"following" }}",
        follow_add_text= "Follow",
        follow_remove_url = "{{ profile.user|remove_relationship_url:"following"}}",
        follow_remove_text = "Unfollow",

        {% if_relationship user profile.user "following" %}
            follow_url = follow_remove_url,
            follow_text = follow_remove_text,
        {% else %}
            follow_url = follow_add_url,
            follow_text= follow_add_text,
        {% endif_relationship %}
        blocking_link = {},
        dh = Ext.DomHelper;
    
    blocking_link = {
        tag: "a",
        id: "blocking_link",
        href: block_url,
        html: block_text
    }
    
    following_link = {
        tag: "a",
        id: "following_link",
        href: follow_url,
        html: follow_text
    }

    function toggleFollowLink(linkTag) {
        follow_url = follow_url === follow_add_url ? follow_remove_url : follow_add_url;
        follow_text = follow_text === follow_add_text ? follow_remove_text : follow_add_text;

        linkTag.dom.href = follow_url;
        linkTag.update(follow_text);
    }

    function toggleBlockLink(linkTag) {
        block_url = block_url === block_add_url ? block_remove_url : block_add_url;
        block_text = block_text === block_add_text ? block_remove_text : block_add_text;

        linkTag.dom.href = block_url;
        linkTag.update(block_text);
    }

    // Add the appropriate links to the page.
    dh.append(blocking_div, blocking_link);
    dh.append(following_div, following_link);

    var following_link = Ext.get("following_link"),
        blocking_link = Ext.get("blocking_link");

    // Act on the following link.
    following_link.on("click", function (evt, el, o) {
        Ext.Ajax.request({
            method: "POST",
            url: follow_url,
            defaultHeaders: {"HTTP_X_REQUESTED_WITH": "XMLHttpRequest"},
            success: function (response, obj) {
                toggleFollowLink(following_link);
            }
        });
    }, following_link, {preventDefault: true});

    blocking_link.on("click", function (evt, el, o) {
        Ext.Ajax.request({
            method: "POST",
            url: block_url,
            defaultHeaders: {"HTTP_X_REQUESTED_WITH": "XMLHttpRequest"},
            success: function (response, obj) {
                toggleBlockLink(blocking_link);
            }
        });
    }, blocking_link, {preventDefault: true});
    {% endif %}
});
</script>
{% endblock %}
