{% extends "groups/base.html" %}
{% block head %}
{% include "geonode/ext_header.html" %}
{% include "geonode/app_header.html" %}
{{ block.super }}
{% endblock %}
{% load i18n avatar_tags %}

{% block content %}
    <div class="threecol">
        {% comment %}
            do we reference all images as 'avatar' or is it for user profile images only?
            {% avatar object.logo 50 %}
            url below is wrong
        {% endcomment %}
        <img src="{{ object.logo.url }}" alt="{{ object.title }}" class="group-logo" />
        <h2>{{ object.title }}</h2>
        {% if object.access == "public" and not is_member %}
          {% if user.is_authenticated %}
              <form method="POST" action="">
                  {% csrf_token %}
                  <input type="submit" value="Join" />
              </form>
          {% else %}
              {# @@@ what is the correct behavior here? #}
              <p>Log in to join this group</p>
          {% endif %}
        {% endif %}

        <p>
          <strong>About:</strong><br />
          {{ object.description }}
        </p>
        
        {% if is_member %}
        <p>
        <h3>Actions</h3>
        <ul>
          {% if is_manager %}
            <li><a href="{% url group_update object.slug %}">Edit Group Details</a></li>
          {% endif %}
          <li><a href="{% url group_add_maps object.slug %}">Add map</a></li>
          <li><a href="{% url group_add_layers object.slug %}">Add data</a></li>
            {% if is_manager %}
            <li><a href="{% url group_remove_maps_data object.slug %}">Remove maps/data</a></li>
            {% endif %}
        </ul>
        </p>
        {% endif %}

        <h3>Permissions</h3>
        <p>This group is <strong>{{ object.get_access_display }}</strong>.
          {% if object.access == "public" %}
              Anyone may view data and maps and join this group.
          {% else %}
              {% if object.access == "public-invite" %}
                  Anyone may view data and maps but membership is by invitation only.
              {% else %}
                  {% if object.access == "private" %}
                      Only members may view data and maps, membership is by invitation only.
                  {% endif %}
              {% endif %}
          {% endif %}
        </p>

        <h3>Members <span>({{ members|length }})</span></h3>
        <div class="member-list">
          {% for member in members %}
              <a href="{{ member.profile.get_absolute_url }}">{% avatar member 35 %}</a>
          {% endfor %}
        </div>
        {% if is_manager %}
          <p><a href="{% url group_members object.slug %}">Full member list and invitations</a></p>
        {% endif %}

    </div>
{% endblock %}
